<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <div class="page_heading">Contact Us</div>
        </div>
    </div>
    <div class="row">
            
            <div class="col-sm-12">
                <div class="form_section">
                <div class="form_heading">Get In Touch With Us</div>
                    <form (ngSubmit)="onSubmitRegister()">
                        <div class="form-group">
                            <input type="text" class="form-control custom_txt_box" id="FirstName" required placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control custom_txt_box" id="LastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control custom_txt_box" id="Initials" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control custom_txt_box" id="FirstPartPostCode" placeholder="First Part of Post Code">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control custom_txt_box" id="SecondPartPostCode" placeholder="Second Part of Post Code (Optional)">
                        </div>
                       
                        <div class="form-group">
                            <textarea type="text" class="form-control custom_txt_box" id="Capture" placeholder="Message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success submit_btn_style_theme">Register</button>
                    </form>
            </div>
            </div>
    </div>
</div>    