<section class="section background-white text-center">
    <div class="line">
      <h2 class="text-size-50  text-m-size-40 text-center">Testimonials</h2>
      <hr class="break-small background-primary break-center">
      <div class="carousel-default owl-carousel carousel-wide-arrows">
        <div class="item">
          <div class="s-12 m-12 l-7 center text-center">
            <img class="image-testimonial-small" src="assets/img/testimonials-04.png" alt="">
            <p class="h1 margin-bottom text-size-20">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
            <p class="h1 text-size-16">Scott Star / CEO / Company</p>
          </div>
        </div>
        <div class="item"> 
          <div class="s-12 m-12 l-7 center text-center">
            <img class="image-testimonial-small" src="assets/img/testimonials-05.png" alt="">
            <p class="h1 margin-bottom text-size-20">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
            <p class="h1 text-size-16">Mark Stoner / Web Developer / Company</p>
          </div>
        </div>
        <div class="item">
          <div class="s-12 m-12 l-7 center text-center">
            <img class="image-testimonial-small" src="assets/img/testimonials-06.png" alt="">
            <p class="h1 margin-bottom text-size-20">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
            <p class="h1 text-size-16">Jane Naismith / Web Designer / Company</p>
          </div>
        </div>
      </div>
    </div>
  </section>